# Force npm to run in production mode
production=true

# Set strict SSL to false if you have certificate issues
strict-ssl=false

# Set progress to false to reduce log output
progress=false

# Set registry
registry=https://registry.npmjs.org/